<form id="form-register" action="/users/create" method="post">
  <p><span>Register for Signster</span></p>

  <label for="username">username:<input type="input" name="user[username]" /></label>
  <br />
  <label for="email">email:<input type="input" name="user[email]" /></label>
  <br />
  <label for="password">password<input type="password" name="user[password]" /></label>
  <br />
  <input type="submit" value="register" />
</form>

