<form id="form-login" action="/login" method="post">
  <label for="username">username<input type="input" name="username" /></label><br />
  <label for="pass">password<input type="input" name="pass" /></label><br />
  <button type="submit" value="register" />
</form>

