<!doctype html>
<html>
  <head>

  <title>Signster</title>
  <link type="text/css" media="all" rel="stylesheet" href="/css/normalize.css">
  <link type="text/css" media="all" rel="stylesheet" href="/css/theme.css">

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>


  <%= yield %>

</body>

</html>
